http://localhost:80

route /api/* {
    reverse_proxy http://localhost:8000
}

route /* {
    reverse_proxy http://localhost:5173
}

#route /* {
#    root * dist
#
#    try_files {path} /index.html
#
#    file_server
#}
